* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores base */
--gray-100: #E2E4E9;
--gray-200: #C0C4CE;
--gray-300: #878EA1;
--gray-400: #292C34;
--gray-500: #16181D;
--gray-600: #0D0E11;

/* Cores principais */
--red:    #E3646E;
--purple: #BB72E9;
--blue:   #3996DB;
--green:  #82BC4F;
--yellow: #EABD5F;

/* Fontes */
--font-family-Asap: "Asap", sans-serif;
--Title-lg: 700 56px/120% var(--font-family-Asap);
--Title-md: 700 24px/120% var(--font-family-Asap);
--Title-sm: 700 16px/120% var(--font-family-Asap);

--font-family-Inconsolata: "Inconsolata", sans-serif;
--Subtitle: 400 20px/120% var(--font-family-Inconsolata);

--font-family-Maven-Pro: "Maven Pro", sans-serif;
--text-md: 400 16px/140% var(--font-family-Maven-Pro);
--text-sm: 400 14px/140% var(--font-family-Maven-Pro);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-100);
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 0x;
  text-align: center;
}